<h1>Showing Articles:</h1>
<p><strong>Title: <%=@article.title %></strong></p>
<p><strong>Desc: <%= @article.description %></strong></p>
<p><strong>Created: <%= @article.created_at %></strong></p>
<p><strong>Updated: <%= @article.updated_at %></strong></p>